html,
body {
  height: 100%;
  margin: 0px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.john-cena-logo {
  margin-bottom: 20px;
}


/* github octocat icon */


/* Original source from here: */


/* https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 50px 25px;
  }
}

.badge-container {
  display: flex;
  align-items: center;
}

.badge-container a,
.badge-container div {
  margin: 0 2px;
}


/* The Tweet sharing icon original source code is form here, thank a lot!*/


/* https://codepen.io/alistairtweedie/pen/JlFnq */

.custom-tweet-button {
  width: 73px;
  min-height: 25px;
}

.custom-tweet-button a {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 18px;
  padding: 0px;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  font-weight: bold;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DEDEDE));
  background-image: -moz-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -ms-linear-gradient(top, #FFF, #DEDEDE);
  border: #CCC solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}

.custom-tweet-button a:hover {
  border-color: #BBB;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#D9D9D9));
  background-image: -moz-linear-gradient(top, #F8F8F8, #D9D9D9);
  background-image: -o-linear-gradient(top, #F8F8F8, #D9D9D9);
  background-image: -ms-linear-gradient(top, #F8F8F8, #D9D9D9);
  background-image: linear-gradient(top, #F8F8F8, #D9D9D9);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-tweet-button a .btn-icon {
  position: absolute;
  width: 16px;
  height: 13px;
  top: 50%;
  left: 8px;
  margin-top: -6px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
  background-size: 13px;
}

.custom-tweet-button a .btn-text {
  display: inline-block;
  padding: 0px 3px 2px 28px;
}
